<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CORE.Properties.Settings.BODEXPRESSConnectionString"
      connectionString="Data Source=BODEXPRESS.mssql.somee.com;Initial Catalog=BODEXPRESS;Persist Security Info=True;User ID=bodex;Password=bodexpress"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>